.maxWidthContainer{
	max-width: 600px;
}
.customUser{
	line-height: 1;
    font-weight: 400;
}
.customLabel{
    line-height: 1;
    font-weight: 400;
    margin: 16px 0 0 0;
    text-align: right;
}
.centerText{
	text-align: center;
}
@media only screen and (min-width : 320px) {
	.customLabel{
	    text-align: left;

	}
}

.sessionTable tr td{
	cursor: pointer;
}

.nav-tabs > li.active{
	background-color: #005e55;
}
.well.question{
	padding-top: 0 !important;
	padding-bottom: 1px !important;
}
.choice{
	margin-top: 15px !important;
}