.maxWidthContainer{
	max-width: 600px;
}
.customUser{
	line-height: 1;
    font-weight: 400;
    margin: 16px 0 0 0;
}
.customLabel{
    line-height: 1;
    font-weight: 400;
    margin: 16px 0 0 0;
    text-align: right;
}

@media only screen and (min-width : 320px) {
.customLabel{
    text-align: left;

}
}