{% extends "template.html" %}
{% block body %}
<section class="container maxWidthContainer">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Create Session</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" action="/createSession" method="post">
				<fieldset>
					<legend>Legend</legend>

					<div class="form-group">
						<div class="col-md-3 customLabel">
							Session Name
						</div>
						<div class="col-md-9 customUser">
							<input type="text" name="name" class="form-control"/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-3 customLabel">
							Day of Session
						</div>
						<div class="col-md-9">
							 <input id="sessionDate" name="session_date" class="datepicker" data-date-format="mm/dd/yyyy" style="margin-top: 8px;">
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-2 col-md-8">
							<button type="submit" class="btn btn-primary">Create Session</button>
						</div>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
</section>
{% endblock %}
{% block script %}
<script>
	$('.datepicker').datepicker({
	    startDate: '-3d'
	});

	// Get a date and turn it into a date object
	//$('#sessionDate').val();

	// Assumes it is in a MM/DD/YYYY string. Takes in a string and return
	// a date object
	function convertToJSDateObject(stringObject){
		var part = stringObject.split("/");
		return new Date(part[2], part[0], part[1]);
	}
</script>
{% endblock %}