{% extends "template.html" %}
{% block body %}
<section class="container maxWidthContainer">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Create Station</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" action="/createStation" method="post" enctype="multipart/form-data">
				<fieldset> 
					
					<div class="form-group">
						<div class="col-md-3 customLabel">
							Session
						</div>
						<div class="col-md-9 customUser">
							<select class="form-control">
								{% for session in sessions %}
									<option {% if session.session_id == choosenSession.session_id %}selected="selected"{% endif %} value="{{session.session_id}}">{{session.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-3 customLabel">
							Station Name
						</div>
						<div class="col-md-9 customUser">
							<input type="text" name="stationName" class="form-control"/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-3 customLabel">
							Video
						</div>
						<div class="col-md-9 customUser">
							<select class="form-control">
								{% for vidName in vidNames %}
									<option selected="selected" value="{{vidName}}">{{vidName}}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 customLabel">
							Questions
						</div>
						<div class="col-md-9">
							<!-- Question Repeat -->
							<div class="well question">
								
								<div class="row form-group">
									<div class="col-md-1 customLabel">
										1:
									</div>
									<div class="col-md-11">
										<input class="form-control" type="text" placeholder="Question Title"></input>
									</div>
								</div>
								

								<div class="row well">
									<p>Choices: </p>
									<!-- Choices Repeat -->
									<div class="row form-group">
										<div class="col-md-2 customlabel">
											1:
										</div>
										<div class="col-md-10">
											<textarea class="form-control" rows="3" type="text"></textarea>
										</div>
									</div>
									<!-- Choices Repeat End -->

									<div class="row form-group">
										<div class="col-md-2 customlabel">
											2:
										</div>
										<div class="col-md-10">
											<textarea class="form-control" rows="3" type="text"></textarea>
										</div>
									</div>
									<a class="btn btn-primary">Add Choice</a>
								</div>
								
							</div>
							<!-- Question Repeat End -->

							<!-- Question Repeat -->
							<div class="well question">
								
								<div class="row form-group">
									<div class="col-md-1 customLabel">
										1:
									</div>
									<div class="col-md-11">
										<input class="form-control" type="text" placeholder="Question Title"></input>
									</div>
								</div>
								

								<div class="row well">
									<p>Choices: </p>
									<!-- Choices Repeat -->
									<div class="row form-group">
										<div class="col-md-2 customlabel">
											1:
										</div>
										<div class="col-md-10">
											<textarea class="form-control" rows="3" type="text"></textarea>
										</div>
									</div>
									<!-- Choices Repeat End -->

									<div class="row form-group">
										<div class="col-md-2 customlabel">
											2:
										</div>
										<div class="col-md-10">
											<textarea class="form-control" rows="3" type="text"></textarea>
										</div>
									</div>
									<a class="btn btn-primary">Add Choice</a>
								</div>
								
							</div>
							<!-- Question Repeat End -->
							<a class="btn btn-primary">Add Question</a>
						</div>
					</div>
					
					<hr />
					<div class="form-group">
						<div class="col-md-offset-2 col-md-8">
							<button type="submit" class="btn btn-primary">Create Station</button>
						</div>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
</section>
{% endblock %}