{% extends "template.html" %}
{% block body %}
<section class="container maxWidthContainer">
	<h3>Welcome to Sexual Assault Prevention QR</h3>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Thank You For Login into This Session</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<div class="col-md-3 customLabel">
					UserID
				</div>
				<div class="col-md-9 customUser">
					<input type="text" class="form-control" name="username" value="{{ username }}" readonly /> 
				</div>
			</div>
			<p>Please write down or screenshot your username in case of an accidental logout.</p>
			<a href="/stationVideo" class="btn btn-primary">Continue</a>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</section>
{% endblock %}