{% extends "template.html" %}
{% block body %}
<section class="container maxWidthContainer">
	<h3 class="text-center">All Sessions</h3>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Session 1</h3>
		</div>
		<div class="panel-body">
			<table class="table table-striped table-hover sessionTable">
			  <thead>
			  <tr>
			    <th>Name</th>
			    <th>Completed</th>
			    <th>Date</th>
			  </tr>
			  </thead>
			  <tbody>
			  <tr>
			    <td>Dam Son</td>
			    <td>
			    	<div class="checkbox">
						<label>
							<input type="checkbox" checked="" ="" ><span class="checkbox-material"></span> 
						</label>
					</div>
				</td>
			    <td>Feb 27 2016</td>
			  </tr>
			  <tr>
			    <td>Dan</td>
			    <td>
			    	<div class="checkbox">
						<label>
							<input type="checkbox" disabled="" ><span class="checkbox-material"></span> 
						</label>
					</div>
				</td>
			    <td>Feb 27 2016</td>
			  </tr>
			  <tr>
			    <td>Daniel</td>
			    <td>
			    	<div class="checkbox">
						<label>
							<input type="checkbox" disabled="" ><span class="checkbox-material"></span> 
						</label>
					</div>
				</td>
			    <td>Feb 27 2016</td>
			  </tr>
			  <tr>
			    <td>Will</td>
			    <td>
			    	<div class="checkbox">
						<label>
							<input type="checkbox" disabled="" ><span class="checkbox-material"></span> 
						</label>
					</div>
				</td>
			    <td>Feb 27 2016</td>
			  </tr>
			  <tr>
			    <td>Van</td>
			    <td>
			    	<div class="checkbox">
						<label>
							<input type="checkbox" disabled="" ><span class="checkbox-material"></span> 
						</label>
					</div>
				</td>
			    <td>Feb 27 2016</td>
			  </tr>
			  <tr>
			    <td>Da Phuc</td>
			    <td>
			    	<div class="checkbox">
						<label>
							<input type="checkbox" disabled="" ><span class="checkbox-material"></span> 
						</label>
					</div>
				</td>
			    <td>Feb 27 2016</td>
			  </tr>
			  </tbody>
			</table>
		</div>
	</div>
</section>
{% endblock %}