{% extends "template.html" %}
{% block body %}
<section class="container maxWidthContainer">
	<h3>Welcome to Sexual Assault Prevention QR</h3>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">User Information</h3>
		</div>
		<div class="panel-body">

			<form class="form-horizontal" action="/stationVideo">
				<fieldset>
					<legend>Legend</legend>

					<div class="form-group">
						<div class="col-md-2 customLabel">
							UserID:
						</div>
						<div class="col-md-10">
							123
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-2 customLabel">
							Password:
						</div>
						<div class="col-md-10">
							<input type="password" class="form-control"/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-2 customLabel">
							Confirm Password:
						</div>
						<div class="col-md-10">
							<input type="password" class="form-control"/>
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword" class="col-md-2 customLabel">Age</label>
						<div class="col-md-10">
						<input type="number" class="form-control" min="3"/>
						</div>
					</div>


					<div class="form-group">
						<label class="col-md-2 customLabel">Gender</label>

						<div class="col-md-10">
							<div class="radio radio-primary">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
									<span class="circle"></span><span class="check"></span>Male
								</label>
							</div>
							<div class="radio radio-primary">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
									<span class="circle"></span><span class="check"></span>Female
								</label>
							</div>
							<div class="radio radio-primary">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
									<span class="circle"></span><span class="check"></span>Other
								</label>
							</div>
							<div class="radio radio-primary">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
									<span class="circle"></span><span class="check"></span>Choose not to Identify
								</label>
							</div>
						</div>
					</div>


					<div class="form-group">
						<div class="col-md-10 col-md-offset-2">
							<button type="button" class="btn btn-default">Cancel</button>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</fieldset>
			</form>

		</div>
	</div>
</section>
{% endblock %}
