{% extends "template.html" %}
{% block body %}
<section class="container maxWidthContainer">
	<h3 class="text-center">All Sessions</h3>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Session List</h3>
		</div>
		<div class="panel-body">
			<table class="table table-striped table-hover sessionTable">
			  <thead>
			  <tr>
			    <th>Session</th>
			    <th>Date</th>
			  </tr>
			  </thead>
			  <tbody>
			  {% if sessions|length == 0%}
					No sessions
			  {% endif %}
			  {% for session in sessions %}
			  <tr onclick="window.location.replace('/sessionInfo/{{ session.session_id }}')">
			    <td>{{session.name}}</td>
			    <td>{{session.session_date.strftime('%Y-%m-%d') }}</td> 
			  </tr>
			  <button type="submit" class="btn btn-primary">Create New Session</button>
			  {% endfor %}
			  </tbody>
			</table>
		</div>
	</div>
</section>
{% endblock %}