{% extends "template.html" %}
{% block body %}
<section class="container maxWidthContainer">
	<h3 class="text-center">Station 1</h3>
	<div>
	  <a href="/sessionList" class="btn btn-raised btn-primary">Go Back</a>
	</div>
	<div class="panel panel-primary">
		<ul class="nav nav-tabs">
		  <li id="userTab" class="active"><a href="#" onclick="showUsers()">Users</a></li>
		  <li id="stationTab"><a href="#" onclick="showStations()">Stations</a></li>
		</ul>
		<div class="panel-body">
			<table id="users-table" class="table table-striped table-hover sessionTable">
			  <thead>
			  <tr>
			    <th>User Id</th>
			    <th>Completed</th>
			  </tr>
			  </thead>
			  <tbody>
			  {% for user in users %}
			  <tr onclick="window.location.href ='/userInfo/{{ user.username }}'">
			    <td>{{user.username}}</td>
			    <td>
			    	<div class="checkbox">
						<label>
							<input type="checkbox" checked="" ="" ><span class="checkbox-material"></span> 
						</label>
					</div>
				</td>
			  </tr>
			  {% endfor %}
			  </tbody>
			</table>
			<table id="stations-table" class="table table-striped table-hover sessionTable" style="display:none">
			  <thead>
			  <tr>
			    <th>Station Name</th>
			    <th>Number Completed</th>
			  </tr>
			  </thead>
			  <tbody>
			  {% for station in stations %}
			  <tr onclick="window.location.href = '/stationInfo/{{ station.station_id }}'">
			    <td>{{station.name}}</td>
			    <td>
					{{station.number_completed}}
				</td>
			  </tr>
			  {% endfor %}
			  </tbody>
			</table>
		</div>
	</div>
</section>
<script type="text/javascript">
	function showStations(){
		document.getElementById("stations-table").style = "";
		document.getElementById("users-table").style = "display:none;";
		document.getElementById("userTab").className = "";
		document.getElementById("stationTab").className = "active";
	}
	function showUsers(){
		document.getElementById("stations-table").style = "display:none;";
		document.getElementById("users-table").style = "";
		document.getElementById("userTab").className = "active";
		document.getElementById("stationTab").className = "";
	}
</script>
{% endblock %}