{% extends "template.html" %}
{% block body %}	
<section class="container maxWidthContainer">
	<h3>{{ name }}</h3>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Survey</h3>
		</div>
		<div class="panel-body">
			<p>Thank you for completing this activity, please take a moment to respond.</p>
			<form action="/stationQuestion/{{ id }}" method="POST">
				{% for question in questionsList %}
				{% set qloop = loop.index %}
				<formset>
					<p>{{ question['question'] }}</p>
					{% for answer in question['answers'] %}
					<div class="radio radio-primary">
						<label>
							<input type="radio" name="q{{ qloop }}" id="optionsRadios1" value="{{ answer }}" checked="">
							<span class="circle"></span><span class="check"></span>{{ answer }} 
						</label>
					</div>
					{% endfor %}
				</formset>
				{% endfor %}

				<button id="takeActionButton"  class="btn btn-raised btn-primary" style="display: block;margin:0 auto; width: 200px">Submit</button>
			</form>
			
		</div>
	</div>
</section>
{% endblock %}