{% extends "template.html" %}
{% block body %}
<section class="container maxWidthContainer">
	<h3>Station 1</h3>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Video</h3>
		</div>
		<div class="panel-body">
			<div id="videoInstruction" class="row" style="padding: 0 15px;">
				<p><b style="text-decoration: underline;">Instructions</b></p>
				<p>Click on the video to start the activity</p>
				<p>Move the slider to your comfort level during the video</p>
			</div>
			<div class="embed-responsive embed-responsive-16by9">
			  <video id="video" width="100%" onclick="play()">
			    <source src="/static/vid/{{ video }}" type="video/mp4">	
			  </video>
			</div>
			
			<div class="row">
				<div class="col-xs-4">Comfortable</div>
				<div class="col-xs-4 col-xs-offset-4 text-right">Uncomfortable</div>
			</div>
			<div class="row">
				<div class=".col-md-4">

				</div>
				<div class=".col-md-4 .col-sm-offset-4">

				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">

					<div id="comfortSlider" class="slider shor"></div>
				</div>
			</div>
			<a id="takeActionButton" href="/stationQuestion/{{ id }}" class="btn btn-raised btn-primary invisible" style="display: block;margin:0 auto; width: 200px">Take Action</a>
		</div>
	</div>
</section>
{% endblock %}

{% block script %}
<script>
	$(document).ready(function() {

            // Video
            "use strict";
            var myVideo = document.getElementById("video");

            function play() {
                if (myVideo.paused) {
                    myVideo.play();
                }
                $('#videoInstruction').hide();

            }
            myVideo.addEventListener('ended', myHandler, false);

            function myHandler(e) {
                window.location.replace("/stationQuestion/{{ id }}");
            }



            // Slider
            var comfortSlider = document.getElementById('comfortSlider');

            noUiSlider.create(comfortSlider, {
                start: 1,
                step: 10,
                range: {
                    'min': 0,
                    'max': 100
                }
            });

            //Slide Event
            comfortSlider.noUiSlider.on('slide', function() {
                if (comfortSlider.noUiSlider.get() > 69) {
                    $('#takeActionButton').css('visibility', 'visible');
                } else {
                    $('#takeActionButton').css('visibility', 'hidden');
                }
            });

            //Mouse Up Event
            comfortSlider.noUiSlider.on('mouseup', function(event) {
                var currentSliderVal = comfortSlider.get();
                sliderChanged(myVideo.currentTime, currentSliderVal);
            });

            var video = document.getElementById("video");

            video.onended = function(e) {
                setTimeout(function() {
                    window.location.replace("/stationQuestion/{{ id }}");
                }, 2000);
            };
        });


        // Everytime user change slider, it send update to server
        function sliderChanged(currentTime, currentComfort) {
            var data = {
                "time": currentTime,
                "comfort": currentComfort
            };
            var url = "www.example.com/POST_ROUTE";
            console.log(data);
            $.ajax({
                type: "POST",
                url: url,
                data: data
            });
        }

</script>
{% endblock %}