{% extends "template.html" %}
{% block body %}		
<section class="container maxWidthContainer" >
	<h3>Station Overview</h3>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Completed Station</h3>
		</div>
		<div class="panel-body">
			<p>These are the stations you compeleted</p>
			<div class="row">
				<div class="col-xs-10">Station 1 : Sexual Prevention</div>
				<div class="col-xs-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" disabled="" checked=""><span class="checkbox-material"></span> 
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10">Station 2 : Identify Assasult</div>
				<div class="col-xs-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" disabled="" ><span class="checkbox-material">
							<!-- <span class="check"></span> -->
							</span> 
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10">Station 3 : Aftermath</div>
				<div class="col-xs-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" disabled="" ><span class="checkbox-material"></span> 
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}