{% extends "template.html" %}
{% block body %}
<section class="container maxWidthContainer">
	<h3>Station 1</h3>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Video</h3>
		</div>
		<div class="panel-body">
			<div class="embed-responsive embed-responsive-16by9">
			  <video id="video" width="100%" onclick="play()">
			    <source src="/static/vid/{{ video }}" type="video/mp4">	
			  </video>
			</div>
			<div class="row">
				<div class="col-xs-4">Comfortable</div>
				<div class="col-xs-4 col-xs-offset-4 text-right">Uncomfortable</div>
			</div>
			<div class="row">
				<div class=".col-md-4">

				</div>
				<div class=".col-md-4 .col-sm-offset-4">

				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">

					<div id="comfortSlider" class="slider shor"></div>
				</div>
			</div>
			<a id="takeActionButton" href="/stationQuestions/{{ id }}" class="btn btn-raised btn-primary invisible" style="display: block;margin:0 auto; width: 200px">Take Action</a>
		</div>
	</div>
</section>
{% endblock %}

{% block script %}
<script>
	var myVideo = document.getElementById("video"); 

	function play() { 
	    if (myVideo.paused) 
	        myVideo.play();
	} 

	var comfortSlider = document.getElementById('comfortSlider');

	noUiSlider.create(comfortSlider,{
		start: 1,
		step: 10,
		range: {
			'min':  0 ,
			'max': 100 
		},
	});

	comfortSlider.noUiSlider.on('slide', function(){
		if(comfortSlider.noUiSlider.get() > 69){
			$('#takeActionButton').css('visibility', 'visible');
		}
		else{
			$('#takeActionButton').css('visibility', 'hidden');
		}
	});
</script>
{% endblock %}