<html>
<head>
<!-- Screen Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Meta Data -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<title>SapQR</title>
	
	<!-- Material Design Boostrap CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-material-design.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/ripples.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/nouislider.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/nouislider.pips.css">
	<link rel="stylesheet" type="text/css" href="/static/css/nouislider.tooltips.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">

	<!-- Other CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css">


</head>
<body>
	
	{% block title %}{% endblock title %}
	{% if self.title() %} 
	
	{% else %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">SapQR</a>
			</div>
		</div>
	</nav>
	{% endif %}
	 
	{% block body %}{% endblock %}
	
	<!--
	<section class="container" style="width:600px">
		<h3>Welcome to Sexual Assault Prevention QR</h3>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">User Information</h3>
			</div>
			<div class="panel-body">

			</div>
		</div>

	</section> -->
	<!-- Material Design Boosrap JS -->
	<script src="/static/js/jquery-2.2.2.min.js" ></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/material.min.js"></script>
	<script src="/static/js/ripples.min.js"></script>
	<script src="/static/js/nouislider.min.js"></script>

	<!-- Other JS -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>

	<script>
		$.material.init();
	</script>
	{% block script %}{% endblock %}
</body>
</html>