{% extends "template.html" %}
{% block body %}
<section class="container maxWidthContainer">
	<h3 class="text-center">Participant: {{user.username}}</h3>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">User Info</h3>
		</div>
		<div class="panel-body">
			<p>Age: {{user.age}}</p>
			<p>Gender: {{user.gender}}</p>
			<h4>Compeleted Station</h4>
			{% for station in stations %}
			<div class="row" {% if listCompleted[loop.index0] %}onclick="window.location.href = '/userStationInfo/{{user.username}}/{{station.station_id}}'" style="cursor:pointer;"{% endif %}> 
				<div class="col-xs-10">{{ station.name }}</div>
				<div class="col-xs-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" disabled="" {% if listCompleted[loop.index0] %}checked=""{% endif %}><span class="checkbox-material"></span> 
						</label>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}

