{% extends "template.html" %}
{% block body %}
<section class="container maxWidthContainer">
	<h3 class="text-center">Luciano</h3>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">User Info</h3>
		</div>
		<div class="panel-body">
			<p>Age: 21</p>
			<p>Gender: Male</p>
			<h4>Compeleted Station</h4>
			<ul class="list-group">
			  <li class="list-group-item">
				<span class="label label-default label-pill pull-xs-right">
					<div class="checkbox">
						<label>
							<input type="checkbox" disabled="" checked=""><span class="checkbox-material"></span> 
						</label>
					</div>
				</span> Station 1
				</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}

